<div>
  <button (click)="gotoDemandList()"><-Назад</button>
</div>
<div *ngIf="!notFound" id="content">
  <p class="title_info_demand"><b>Информация о завке №{{ demand?.id}} </b></p>
  <div class="info_demand">
  <p><b><i>Дата создания: </i></b>  {{ demand?.created_date|date:"d.MM.y"}}</p>
  <p><b><i>Номер заявки: </i></b> {{ demand?.id}} </p>
  <p><b><i>Описание: </i></b> {{ demand?.description}} </p>
  <p><b><i>Количество позиций: </i></b> {{ demand?.position_count}} </p>
  <p><b><i>Количество товаров: </i></b> {{ demand?.product_count}} </p>
  <p><b><i>Общая стоимость(руб): </i></b> {{ demand?.price_all}} </p>
  </div>
  <div class="form" align="center" *ngIf="!hide">
  <form [formGroup]="addPositionForm" (ngSubmit)="onSubmit()" required>
    <div class="fields">
      <div class="name_product">
        <span class="spandesc">
          <label><i>Наименование позиции: </i>
            <input
              id="name_product"
              type="string"
              formControlName="name_product"
              placeholder="Конденсатор "/></label>
        </span>
      </div>
      <div class="art_product">
        <span class="spandesc">
          <label><i>Артикул: </i>
            <input
              id="art_product"
              type="string"
              formControlName="art_product"
              placeholder="ADS67JU9Q "/></label>
        </span>
      </div>
      <div class="quantity">
        <span class="spandesc">
          <label><i>Количество: </i>
            <input
              id="quantity"
              type="number"
              formControlName="quantity"
              placeholder="1000 "/></label>
        </span>
      </div>
      <div class="price_one">
        <span class="spandesc">
          <label><i>Цена за шт.: </i>
            <input
              id="price_one"
              type="number"
              formControlName="price_one"
              placeholder="12500 "/></label>
        </span>

      </div>
      <div class="buttonAdd">
        <button type="submit"
                class="buttonAddPosition"
             [disabled]="addPositionForm.invalid || loading">
          Добавить
        </button>
      </div>
    </div>
  </form>
  </div>
  <div class="button-generate-PDF" align="center" *ngIf="!hide">
    <button
      type="button"
      (click)="generatePDF()" >
      Сформировать PDF
    </button>
  </div>
  <div align="center" *ngIf="positions.length > 0">
    <div class="table_style">
      <table width="1000">
        <thead>
        <tr>
          <th>Наименование:</th>
          <th>Артикул:</th>
          <th>Количество:</th>
          <th>Цена шт(руб):</th>
          <th>Общая ст-ть(руб):</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let position of positions">
          <ng-container *ngIf="editPositionId !== position.id">
            <td bgcolor="d8cce6">{{ position.name_product }} </td>
            <td bgcolor="d8cce6">{{ position.art_product }}</td>
            <td bgcolor="d8cce6">{{ position.quantity}}</td>
            <td bgcolor="d8cce6">{{ position.price_one}}</td>
            <td bgcolor="d8cce6">{{ position.full_price_position }}</td>
            <td>
              <button
                class="but_change"
                *ngIf="!hide"
                type="submit"
                (click)="openForm(position)">
                Ред
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="editPositionId === position.id">
            <td bgcolor="d8cce6">
            <input type="string"
                   [formControl]="editPositionForm.controls.name_product" />
            </td>
            <td bgcolor="d8cce6">
              <input type="string"
                   [formControl]="editPositionForm.controls.art_product"/>
            </td>
            <td bgcolor="d8cce6">
              <input type="number"
                     nsme = quantity
                     [formControl]="editPositionForm.controls.quantity"/>
            </td>
            <td bgcolor="d8cce6">
              <input type="number"
                     name="price_one"
                     [formControl]="editPositionForm.controls.price_one"/>
            </td>
            <td bgcolor="d8cce6">{{ calcPrice(editPositionForm.controls.price_one.value, editPositionForm.controls.quantity.value) }}
            </td>
            <td>
              <button
                class="but_change"
                type="submit"
                [disabled]="editPositionForm.invalid || loading"
                (click)="savePosition()">
                Сохр
              </button></td>
          </ng-container>
          <td><button type="submit"
                      *ngIf="!hide"
                      class="but_delete"
                      title="position"
            (click)="deletePos(position)">Уд</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="positions.length == 0 ">
    <h3 align="center">
      Для данной заявки еще не создано ни одной позиции
    </h3>
  </div>
</div>
<div *ngIf="notFound">
  <h3 align="center">Такой заявки не существует или она была удалена</h3>
</div>
