<div class="login-body" *ngIf="!auth">
  <div class="login-panel ui-fluid">
    <div class="login-panel-content">
      <div class="ui-g">

        <div class="ui-g-12">
          <h1>Вход в систему</h1>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!--TODO: fix form layout - input fields and button should be centered and use all width of parent block-->
          <!--TODO: cleanup classes in fields-->
          <div class="ui-g-12">
            <span class="md-inputfield">
              <label>Пользователь</label>
                <input
                  id="username"
                  type="text"
                  placeholder="username"
                  formControlName="username">
                  <!--[ngClass]="{'is-invalid': submitted && f['username'].errors}" />-->
              <!--<div *ngIf="submitted && f['username'].errors" class="invalid-feedback">-->
                <!--<div *ngIf="f['username'].hasError('required')">Требуется указать username</div>-->
              <!--</div>-->
            </span>
          </div>

          <div class="ui-g-12">
            <span class="md-inputfield">
              <label>Пароль</label>
                <input
                  id="password"
                  type="password"
                  placeholder="password"
                  formControlName="password">
                  <!--[ngClass]="{'is-invalid': submitted && f['password'].errors}" />-->
                <!--<div *ngIf="submitted && f['password'].errors" class="invalid-feedback">-->
                  <!--<div *ngIf="f['password'].errors.required">Требуется указать пароль</div>-->
                <!--</div>-->
            </span>
          </div>
          <div class="ui-g-12">
            <button
              [disabled]="loginForm.invalid || loading"
              class="ui-button ui-widget ui-corner-all">
              <span class="ui-button-text" *ngIf="!loading">Войти</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div *ngIf="auth">
вы вошли как
  <!--Как правильно вывести фио и вообще это нужно?-->
</div>
