h1{
  text-align: center;
  font-family: FreeMono, monospace;
}


th{
	background-color: #bfbfbf;
	text-align: center;
	font-family: FreeMono, monospace;
	font-size: 19;
}


td{
	text-align: center;
	font-family: FreeMono, monospace;
	font-size: 18;
  background-color: #d8cce6;

}

/*Таблицы */
table{
  border: 1px;
  width: 900px;

}

.text_table{
	background-color: #FAF0E6;
}

.table_style{
	width: 1000px;
	box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, .2);
}

.table_style_demand{
	margin: center;
	width: 900px;
	box-shadow: -10px 10px 10px -5px rgba(0, 0, 0, .2);
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.splCont{
  display:none;
  /*padding:3px 5px;*/
}
