<div>
  <div>
    <h1>Список заявок на закупку:</h1>
  </div>
  <div class="form" align="center">
  <form [formGroup]="addDemandForm" (ngSubmit)="onSubmit()" required>
    <div class="fields">
      <div class="description">
        <span class="spandesc">
        <label><i>Описание: </i>
          <input
             id="description"
             type="string"
             formControlName="description"
             placeholder="Закупка оборудования для проекта 'Источник И1"/> </label>
        </span>
      </div>
      </div>
    <div class="buttonAdd">
      <button type="submit"
              class="buttonAddDemand"
              [disabled]="addDemandForm.invalid || loading">
          Добавить
      </button>
    </div>
  </form>
  </div>
<div class="table_style_demand" *ngIf="demands.length > 0 ">
  <table>
    <thead>
    <tr>
      <th>Номер заявки</th>
      <th>Дата создания</th>
      <th>Пользователь</th>
      <th>Опсиание </th>
      <th>Кол-во позиций</th>
      <th>Кол-во товаров</th>
      <th>Общая стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let demand of demands">
      <td bgcolor="d8cce6">{{demand.id}}</td>
      <td bgcolor="d8cce6">{{demand.created_date|date:"d.MM.y"}}</td>
      <td bgcolor="d8cce6">{{ demand.user.short_name}}</td>
      <!--<td>{{demand.user}}</td>-->
      <td bgcolor="d8cce6" *ngIf="editDemand !== demand"><a [routerLink]="['/detail', demand.id]">{{demand.description}}</a></td>
      <td bgcolor="d8cce6" *ngIf="editDemand === demand">
        <input type="string"
               value="{{ demand.description}}"
               placeholder="Закупка оборудования для проекта 'Источник И1"/>
      </td>
      <td bgcolor="d8cce6">{{ demand.position_count}}</td>
      <td bgcolor="d8cce6">{{ demand.product_count}}</td>
      <td bgcolor="d8cce6">{{ demand.price_all}}</td>
      <td *ngIf="editDemand !== demand"><button
                  class="but_change"
                  type="submit"
                  (click)="openForm(demand)">
        <!--Как привязать кнопку к конкретной заявке?-->
            Ред
          </button>
      </td>
      <td *ngIf="editDemand === demand">
        <button class="but_change"
                type="submit"
                (click)="saveDemand(demand)">
          Сохр
        </button>
      </td>
      <td><button
            type="submit"
            class="but_delete"
            (click)="deleteDem(demand)">
             Уд
          </button>
      </td>
    </tr>
    <router-outlet></router-outlet>
    </tbody>
  </table>
</div>
    <!--<div>-->
      <!--&lt;!&ndash;*ngIf="edit"&ndash;&gt;-->
      <!--<div align="center" class="form_edit" [formGroup]="editDemandForm">-->
        <!--Редактировать-->
        <!--<div>-->
          <!--<label><i>Описание: </i>-->
            <!--<input-->
              <!--id="description"-->
              <!--type="string"-->
              <!--formControlName="description"-->
              <!--placeholder="Закупка оборудования для проекта 'Источник И1"/> </label>-->
        <!--</div>-->
        <!--<div class="buttonAdd">-->
          <!--<button type="submit"-->
                  <!--class="buttonAddDemand"-->
                  <!--(click)="editDem(demand)">-->
            <!--Изменить-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
  <!--</div>-->
  <div *ngIf="demands.length === 0" align="center">
    <h3>УУУУУУУПС еще не создано не одной заявки</h3>
  </div>
</div>
