/* You can add global styles to this file, and also import other style files */

/*.loading {*/
  /*margin-top: -50px;*/
  /*margin-bottom: -300px;*/
  /*margin-right: -200px;*/
  /*margin-left: -50px;*/
  /*font-size: 20px;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #FAF0E6;*/
  /*position: fixed;*/
  /*overflow: auto;*/
/*}*/

img{
  width: 30%;
  height: 30%;
  margin-top: 150px;
  align-content: center;
}

.splCont{
  display:none;
  /*padding:3px 5px;*/
}
